<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
		<p><%= e %></p>
	<% end %>
<% end %>

<%= form_for(@meeting) do |f| %>
	<p>
		<%= f.label :name %><br/>
		<%= f.text_field :name %><br/>
	</p>
	<p>
		<%= f.label :date %><br/>
		<%= f.text_field :date %><br/>
	</p>
	<p>
		<%= f.label :start_time %><br/>
		<%= f.text_field :start_time %><br/>
	</p>
	<p>
		<%= f.label :end_time %><br/>
		<%= f.text_field :end_time %><br/>
	</p>
	<p>
		<%= f.label :description %><br/>
		<%= f.text_field :description %><br/>
	</p>
	<div id="button">
		<%= f.submit %>
	</div>
<% end %>
